{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ video.title }} | {{ parent() }}{% endblock %}

    {% block content %}

        <div class="post-wrap">
            <article id="post-28" class="post-28 post type-post status-publish format-standard hentry category-entertainment category-games tag-characters tag-villain">
                <header class="entry-header">
                    <h1>{{ video.title }}</h1>

                    <div class="entry-meta">
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_preferred_1"></a>
                            <a class="addthis_button_preferred_2"></a>
                            <a class="addthis_button_preferred_3"></a>
                            <a class="addthis_button_preferred_4"></a>
                            <a class="addthis_button_compact"></a>
                            <a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533aac5d5a5f5a91"></script>
                        <!-- AddThis Button END -->
                        <div class="left">
                            <span class="date"><i class="icon-calendar"></i> {{ video.getReleaseDateFrontFormat() }}</span>





                        </div>


                    </div>
                </header>


                <div class="entry-content-wrap">

                    <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video.youtube }}" frameborder="0" allowfullscreen></iframe>


                    <div class="entry-content">
                        {{ video.description|raw }}
                    </div>
                    <!-- /entry-content -->

                </div>
                <!-- /entry-content-wrap -->

            </article>
        </div>
        <!-- /post-wrap -->












        <div id="comments">
            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <div class="cat-icon">
                        <i class="icon-rocket"></i>
                    </div>
                    <h4>Réagir</h4>
                </div>
            </div>
        </div>
        <!-- /comments -->



        {# DISQUS #}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'japanfm'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    {% endblock %}