{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Conditions générales d'utilisation | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Conditions générales d'utilisation</h2>
        </header><!-- /archive-header -->


        <div style="font-size: 1.2em; line-height: 1.3em;">

            <p>
                Conditions générales d'utilisation au 01/02/2013
            </p>

        </div>

        <div class="statique">

            <h2>Article 1 – Editeur et organisateur</h2>


            <p>
                La Société « IGAM Entertainment » dont le siège se situe au : 13 rue Jouvenet 75016 PARIS, est enregistrée au R.C.S de Paris, sous le numéro : B 524 460 471.<br />
                La Société « IGAM Entertainment » fournit et édite les solutions de vote et la diffusion de la web radio sur le site internet <a href="{{ path('index') }}">www.japanfm.fr</a>  
            </p>

            <p>
                Japan FM est une marque française déposée auprès de l’INPI sous le numéro 4030535.
            </p>

            <p>
                Le site <a href="{{ path('index') }}">www.japanfm.fr</a> est une web radio française regroupant une communauté d’internautes qui utilisent les services mis en ligne par IGAM Entertainment « Japan FM ».
            </p>

            <p>
                <a href="{{ path('index') }}">www.japanfm.fr</a> diffuse du streaming audio en continu (web radio) et des classements, dont leur organisation est entièrement prise en charge par IGAM Entertainment.
            </p>

            <p>
                L’écoute de la web radio et les classements sont sans obligation d’achat.
            </p>

            <p>
                Est appelé organisateur « IGAM Entertainment » au capital de 15 000 € dont le siège se trouve à l'adresse ci-dessous :
            </p>

            <address>
                <strong>IGAM Entertainment</strong><br />
                 13 rue Jouvenet, 75016 Paris<br />
                 SIREN : 795 144 948<br />
                 RCS : Paris B 524 560 471<br />
                 N° SIRET : 795 144 948 00010
            </address>

            <h2>Article 2 - Définitions des termes employés</h2>

            <ul>
                <li><strong>IGAM; IGAM Entertainment; ou Japan FM :</strong> désigne la société organisatrice des classements</li>
                <li><strong>Classements :</strong> solution de vote mise à disposition par IGAM à l’utilisateur</li>
                <li><strong>Japan FM :</strong> marque déposée auprès de l’INPI ayant pour site internet www.japanfm.fr regroupant les services de diffusion audio en streaming ainsi que les classements et tous les supports de communication et diffusion lié à la marque « Japan FM »</li>
                <li><strong>Japanfm.fr :</strong> site internet <a href="{{ path('index') }}">www.japanfm.fr</a></li>
                <li><strong>Organisateur :</strong> désigne IGAM et « Japan FM »</li>
                <li><strong>Déclaration :</strong> désigne les présentes Conditions Générales d’Utilisation</li>
                <li><strong>Société :</strong> désigne IGAM et Japan FM.</li>
                <li><strong>Editeur :</strong> désigne l’exploitant de la web radio et des classements</li>
                <li><strong>Auditeur :</strong> désigne l’internaute se connectant au site internet <a href="{{ path('index') }}">www.japanfm.fr</a> afin d’écouter la web radio</li>
                <li><strong>Utilisateur :</strong> désigne la personne se connectant au site internet <a href="{{ path('index') }}">www.japanfm.fr</a></li>
                <li><strong>Participant :</strong> désigne la personne inscrite sur les classements du site internet <a href="{{ path('index') }}">www.japanfm.fr</a></li>
                <li><strong>Points :</strong> les points sont les données permettant à l’utilisateur de monter ou descendre dans le classement général</li>
                <li><strong>Vote gratuit ou Vote :</strong> vote effectué par un utilisateur à titre gratuit. Un vote gratuit peut permettre au candidat de gagner 1 ou plusieurs points.</li>
                <li><strong>Boost :</strong> vote effectué par un utilisateur à titre payant. Un Boost permet à l’utilisateur de gagner plus de points qu’un vote gratuit.</li>
                <li><strong>Promo boost :</strong> période donnée pendant laquelle la valeur d'un vote gratuit et / ou d'un boost est supérieure à la normale.</li>
                <li><strong>Flux ou Streaming audio :</strong> désigne le son ou les musiques diffusées sur le site internet <a href="{{ path('index') }}">www.japanfm.fr</a> ou sur tous les supports de diffusion de Japan FM</li>
                <li><strong>Information :</strong> désigne le contenu et les informations vous concernant, telles que les actions que vous entreprenez sur le site.</li>
                <li><strong>Contenu :</strong> désigne le contenu et les informations que vous publiez sur Japanfm.fr ainsi que sur tous les supports de communication de Japan FM, qui ne répondraient pas à la définition d' "informations".</li>
                <li><strong>Donnée(s) :</strong> désigne le contenu et les informations que des tiers peuvent récupérer de Japan FM ou fournir à Japan FM par l'intermédiaire des Services.</li>
                <li><strong>Services :</strong> désigne les éléments édités ou non par Japan FM disponible pour les utilisateurs.</li>
                <li><strong>Publier ou Publication :</strong> désigne ce que vous publiez sur les supports de communication de Japan FM ou mettez autrement à notre disposition (comme en utilisant une application ou dans les classements).</li>
                <li><strong>Utiliser ou Utilisation :</strong> désigne la copie, la diffusion, la distribution, la modification, la traduction et la création de travaux dérivés.</li>

            </ul>



            <h2>Article 3 - Conditions générales</h2>

            <p>
                L’écoute de la web radio et les classements par vote gratuit sont ouverts aux personnes physiques résidant dans le monde entier ayant un compte Facebook ou Twitter. Les classements par Boost sont ouverts aux personnes physiques résidant parmi les pays disponibles mis à disposition (indiquent la zone de couverture) sur la plateforme de micro-paiement. Par défaut, la zone de couverture est uniquement la France métropolitaine. Les moyens techniques mis à disposition pour l’écoute de la web radio et les classements peuvent varier selon les pays. Les mineurs ne sont autorisés à participer aux classements qu'avec l'accord de leurs parents ou de leur tuteur légal. Une personne à la possibilité de jouer sur tous les classements organisés par IGAM Entertainment. Les inscriptions à un classement donné sont strictement limitées à une par personne et par foyer.
            </p>

            <h2>Article 4 - Modalités d’écoute et de jeu</h2>

            <ul>
                <li>Toute personne disposant d’une connexion internet ou d’une connexion 3G/4G peut écouter la web radio Japan FM sans s’inscrire sur le site.</li>
                <li>Toute personne peut booster sur les classements de Japan FM sans s’inscrire sur le site.</li>
                <li>Toute personne souhaitant être candidate sur un classement peut s’inscrire à partir des sites internet www.facebook.com ou www.twitter.com. Cette inscription est obligatoire et gratuite et un seul compte suffit pour participer à tous les classements.</li>
                <li>Il est formellement interdit à un auditeur d’enregistrer le flux streaming audio de la web radio sans un accord signé par l’éditeur.</li>
                <li>Il est formellement interdit à un auditeur de diffuser le flux streaming audio de la web radio en dehors du site internet <a href="{{ path('index') }}">www.japanfm.fr</a> sans un accord signé par l’éditeur.</li>
                <li>Il est formellement interdit à une société/auditeur de vendre le flux streaming audio de la web radio sans un accord signé par l’éditeur.</li>
                <li>Il est formellement interdit à une même personne de participer aux classements avec plusieurs comptes Facebook/Twitter lui appartenant.</li>
                <li>Lors de son inscription à un classement, le site internet <a href="{{ path('index') }}">www.japanfm.fr</a> demande une autorisation de lier le compte du participant au classement afin de récolter son adresse email (liée à son compte Facebook ou Twitter) exacte afin que l’organisateur puisse communiquer avec lui. Une fois le classement terminé, les données de tous les participants sont effacés.</li>
                <li>S’il remporte le lot, le participant est tenu de fournir à l’organisateur des coordonnées exactes (nom, prénom, adresse postale). Tout préjudice du à une information incomplète ou erronée ne pourra être reproché à l’organisateur (lot ne pouvant être envoyé, lot jamais arrivé, etc).</li>
                <li>En s’inscrivant, l’internaute reconnaît avoir lu le présent règlement. La participation au classement entraîne l'acceptation pleine et entière des conditions générales d'utilisation.</li>
                <li>Il est interdit à tous les salariés de la société Japan FM ainsi qu'à leurs conjoints, concubins et enfants de jouer à un classement.</li>
            </ul>

            <h2>Article 5 - Fonctionnement d'un classement</h2>

            <p>
                Le participant doit obtenir des points pour gagner des places et arriver dans les premières positions d'un classement. Les points s'acquièrent par le moyen de votes et/ou de boosts :
            </p>

            <ul>
                <li><strong>Vote :</strong> le vote est gratuit (sauf éventuel coût de connexion à Internet) et nécessite une inscription via les sites internet www.facebook.com ou www.twitter.com. Un internaute visiteur peut voter une seule fois pour un participant dans un classement. Une limite de nombre de votes gratuits, par jour, par participant existe sur certains classements. Le participant pourra inviter ses amis facebook ou ses followers Twitter à voter pour lui en exportant et publiant le lien d’invitation sur leur fil d’actualité Facebook ou Twitter. Les participants pourront également copier/coller eux-mêmes le lien d’invitation et s’en servir pour inviter ses amis à voter pour lui.</li>
                <li><strong>Boost :</strong> achat de codes par micro-paiement, appel téléphonique, carte bancaire, Neosurf™ ou Internet+™ pour augmenter de manière conséquente le nombre de points du participant de son choix. Cette action peut être répétée autant de fois que désiré, sous réserve des limitations imposées par les prestataires de paiement, opérateurs téléphoniques ou établissements bancaires et apporte plus de points qu’un vote. Le nombre de points rapporté par Boost peut changer à tout moment.</li>
                <li>Un classement se termine à la date renseignée par l'organisateur (disponible sur la page du classement). Un décompte apparaît sur le classement, à partir du jour où celui-ci est officiellement lancé. Une fois le classement terminé, la position du participant au moment de l'archivage détermine s’il a gagné ou non. Par exemple, si trois lots étaient mis en jeu, les trois premiers remportent le lot. Le nombre et la nature des lots sont précisés dès le début du classement et ne peuvent être modifiés.</li>
                <li>Toute technique de vote différente des cas précités est interdite et considérée comme frauduleuse.  Par exemple, si un utilisateur trouvait le moyen de voter au-delà de la limite déterminée par l’organisateur ; de même si cette personne boostait sans passer par IGAM Entertainment.</li>

            </ul>

            <h2>Article 6 - Systèmes de paiement</h2>

            <p>
                Les classements sont considérés comme gratuits car les participants peuvent y jouer sans utiliser de systèmes de paiement. Il s’agit d’outils complémentaires mis à leur disposition.
            </p>

            <ul>
                <li>Depuis la France, le système de Boost permet d’acheter des points par Appel surtaxé, carte bancaire, Néosurf™, Internet+™ ou HiPay. Le participant s'engage à utiliser un moyen de paiement lui appartenant en propre (ligne téléphonique, carte bancaire) et doit être en mesure de les justifier à tout moment, sous peine d'exclusion du classement.</li>
                <li>Pour des raisons techniques, certains pays ne disposent pas de toutes ces options. Il est possible que les participants vivants dans des pays non couverts ne puissent booster qu'avec deux ou trois systèmes de paiement, voire pas du tout. </li>
                <li>La société IGAM ne pourra être tenue pour responsable des problèmes dus aux systèmes de micro-paiement par téléphone (appel surtaxé ou SMS+) ou HiPay. En cas d'incident avec l'un ces services, l’utilisateur devra directement contacter celui-ci.</li>
                <li>Pour toute transaction d’argent, les mineurs doivent impérativement avoir l'accord explicite de leurs parents ou de leur tuteur légal. Après utilisation du service, aucun remboursement ne pourra être demandé par un participant ou son représentant légal.</li>
            </ul>

            <h2>Article 7 – Lots</h2>

            <ul>
                <li>A chaque classement, la société IGAM  met en jeu, un ou plusieurs lots attribués, à la fin du classement, aux participants les mieux placés.  Les visuels des lots étant donnés à titre indicatif, leur ressemblance avec la photo sur le site ne pourra être contestée. Il est possible qu’entre le début et la fin d’un classement un ou plusieurs objets soient indisponibles chez l’organisateur. Dans ce cas, le délai de livraison peut être allongé.  S’il s’avère que l’objet est en rupture de stock définitive, il pourra être remplacé par un ou plusieurs objets d’une valeur totale au moins égale à l’objet initialement prévu</li>
                <li>Le lot attribué ne pourra donner lieu à aucun échange ou remise de sa contre-valeur en nature ou en espèce.  Le gagnant autorise toute vérification concernant son identité et son domicile. Toute fausse déclaration d'identité ou d'adresse peut entraîner l'élimination immédiate du participant et le cas échéant le remboursement des lots déjà envoyés. </li>
                <li>Les lots sont envoyés dans les 45 jours qui suivent la fin du classement. Aucune réclamation ne pourra être faite sur les désagréments imputables à la société de livraison (colis abimé ou perdu, retard de livraison, etc.).</li>
            </ul>

            <h2>Article 8 - Lot non délivré</h2>

            <ul>
                <li>Sans réponse ou prise de contact du gagnant sous sept jours glissants, ouvrés ou non ouvrés, à compter de la fin du classement, celui-ci sera réputé injoignable et perdra tout droit sur le classement (liste non exhaustive : perte des droits sur le lot, perte des droits sur les boosts).</li>
                <li>Dans le cas de classements sur lesquels des paiements ont été effectués, si les paiements téléphone ou carte bancaire du gagnant sont bloqués nous considérons qu’il refuse l’expédition de son lot et il perd ainsi tout droit de le réclamer.</li>
                <li>Si un lot n’est pas remis pour les raisons précédemment citées ou toutes autres raisons empêchant le gagnant de le recevoir, alors son lot pourra être réattribué au participant placé après lui dans le classement.</li>
            </ul>

            <h2>Article 9 - Utilisation des données personnelles</h2>

            <ul>
                <li>Aucun mot de passe n’est stocké par l’organisateur.</li>
                <li>Les adresses IP des auditeurs et des participants sont stockées dans la base de données et utilisées pour le bon fonctionnement de l’écoute de la web radio et des classements.  Les adresses IP permettent également de prévenir la fraude. Toute adresse est effacée une fois le classement terminé.</li>
                <li>Tous les coordonnées et adresses e-mails des participants sont confidentielles. Les données collectées ne seront en aucun cas divulguées, ou vendues à des tiers par la société IGAM. En cas de réquisition judiciaire, toutes les données saisies par un participant ou recueillies par nos serveurs pourront être transmises aux autorités compétentes.</li>
                <li>Chaque gagnant autorise la société IGAM à utiliser ses pseudonymes, prénoms, localisation et photo, à des fins non commerciales, sans que cela lui donne le droit à une quelconque rémunération, droit ou avantage autre que le lot remporté.</li>

            </ul>

            <h2>Article 10 – Responsabilités</h2>

            <ul>
                <li>Si, pour une raison quelconque, un classement devait être modifié ou annulé, la société IGAM ne pourrait être tenue pour responsable. La société IGAM ne saurait être tenue pour responsable si un mineur s'inscrivait et/ou participait à un classement sans l’accord de ses parents ou de son tuteur légal.</li>
                <li>La société IGAM ne peut être tenue pour responsable de problèmes techniques imputables à des prestataires de services (hébergeurs, services de paiement, etc.)</li>
                <li>Les classements étant sans obligation d’achat, aucun remboursement ne pourra être demandé.</li>
            </ul>

            <h2>Article 11 - Non-respect du règlement et sanctions</h2>

            <ul>
                <li>La société IGAM peut sanctionner toute personne soupçonnée de détourner les conditions générales d'utilisation afin de gagner ou de faire gagner un lot. Ces sanctions peuvent entraîner la non remise du lot et/ou une exclusion définitive des classements.  Elles peuvent être mises en place pendant ou après un classement, sans qu’un participant (directement concerné ou non) puisse contester le classement définitif.</li>
                <li>Avant toute sanction, la société IGAM peut contacter le participant concerné pour l’avertir et lui permettre de s’expliquer. Si le participant ne peut être joint (coordonnées erronés, incomplètes, non réponse,...) il est réputé injoignable et la société IGAM ne peut être tenue pour responsable. Si un lot n'est pas remis à une personne soupçonnée de triche, l’organisateur se réserve le droit d'envoyer ce lot au participant placé après lui dans le classement, après archivage du classement.</li>
                <li>En cas de contestation Paypal ou tout autre moyen de paiement, le participant se verra définitivement banni de nos services. Un participant qui aurait été banni ou sanctionné pour non-respect du règlement, ne pourra demander le remboursement de la somme que lui ou toute autre personne physique ou morale aurait pu engager dans le classement. Cela, que l'achat ait été effectué avant ou après les faits.</li>

            </ul>

            <h2>Article 12 – Spécificités sur les Boosts</h2>

            <ul>
                <li>Il est de la responsabilité du votant de s’assurer qu’il vote pour la bonne personne. Aucun Boost effectué pour une personne différente de celle que le votant souhaite soutenir ne pourra être remboursé.</li>
                <li>Seule la société IGAM est autorisée à vendre des codes Boosts. Il est interdit à toute autre personne, morale ou physique, de vendre des Boosts (achetés, reçus gratuitement ou autre).</li>

            </ul>

            <h2>
                Article 13 - Désinscription
            </h2>

            <p>
                Chaque participant peut se désinscrire d’un classement en étant connecté à son espace membre (Facebook ou Twitter), en cliquant simplement sur “Je souhaite me désinscrire” sur la page du classement. En cas de non-connexion à un compte pendant plus de 30 jours, la Société se réserve le droit de considérer ce compte comme « abandonnée » et de le clôturer.
            </p>

            <h2>Article 14 – Sécurité</h2>

            <p>
                Parce que la sécurité de vos informations sur Japan FM nous tient à cœur mais que nous ne pouvons pas garantir la sécurité absolue, la Déclaration inclut les obligations suivantes :
            </p>

            <ul>
                <li>Vous n'enverrez pas et ne publierez pas de communications commerciales sans autorisation (comme des messages indésirables) sur Japan FM.</li>
                <li>Vous ne forcerez pas vos amis à voter pour vous ou pour une personne tiers.</li>
                <li>Vous n’obligerez pas vos amis ou une personne tiers à consommer des Boosts pour vous ou une autre personne tiers.</li>
                <li>Vous n'obtiendrez pas d'informations concernant des utilisateurs ou les contenus qu'ils publient, et n'accéderez pas à Japan FM à l'aide de méthodes automatisées (telles que robots, araignées, etc.) sans notre permission.</li>
                <li>Vous n'effectuerez pas de marketing ou autres activités de style pyramidal sur Japan FM.</li>
                <li>Vous ne téléchargerez pas de virus ou autres codes malveillants.</li>
                <li>Vous n'intimiderez pas et n'harcèlerez pas d'autres auditeurs.</li>
                <li>Vous ne publierez pas de contenus sur tous les supports de communication de Japan FM : incitant à la haine ou à la violence, menaçants, à caractère pornographique ou contenant de la nudité ou de la violence gratuite.</li>
                <li>Vous n'utiliserez pas Japan FM dans un but d'activité illicite, illégale, malveillante ou discriminatoire.</li>
                <li>Vous n'agirez pas d'une manière qui pourrait désactiver ou autrement empêcher le bon fonctionnement du Service Japan FM.</li>
                <li>Vous ne diffuserez pas Japan FM sur un autre support que <a href="{{ path('index') }}">www.japanfm.fr</a> sans l’autorisation expresse de son éditeur.</li>
                <li>Vous ne permettrez pas et n'encouragerez pas les infractions à cette Déclaration.</li>
            </ul>

            <h2>Article 15 - Protection des droits d'autrui</h2>

            <p>
                Nous respectons les droits d'autrui et nous vous demandons de faire de même. Sur tous nos supports de communication et diffusion ainsi que sur le site internet <a href="{{ path('index') }}">www.japanfm.fr</a> :
            </p>

            <ul>
                <li>Vous ne publierez pas de contenu et vous n'entreprendrez rien sur Japan FM qui pourrait enfreindre les droits d'autrui ou autrement enfreindre la loi.</li>
                <li>Nous pouvons retirer le contenu ou les informations que vous publiez sur Japan FM si nous jugeons qu'il est en infraction avec cette Déclaration.</li>
                <li>Vous n'utiliserez pas la marque Japan FM ou toute autre marque similaire pouvant prêter à confusion, sans la permission écrite de l’éditeur.</li>
                <li>Si vous obtenez des informations de la part d'utilisateurs : vous obtiendrez leur accord et vous présenterez de façon claire que c'est vous qui recueillez ces informations, et vous publierez votre politique de respect de la vie privée indiquant les informations recueillies et l'utilisation qui en est faite.</li>
                <li>Vous ne publierez pas de documents officiels ou d'informations financières concernant autrui sur Japan FM.</li>
                <li>Vous n'identifierez pas des personnes qui n'utilisent pas Japan FM et ne leur enverrez pas de messages électroniques sans leur accord.</li>

            </ul>

            <p>
                Japan FM respecte les droits de propriété intellectuelle d'autrui et s'attend à ce que les utilisateurs des Services fassent de même. Nous répondrons aux déclarations de violation de droits d'auteurs qui se conforment aux lois applicables et qui nous parviennent en bonne et due forme. Si l'utilisateur estime que son contenu a été copié d'une manière qui constitue une violation de droit d’auteur, nous faire parvenir les renseignements suivants :
            </p>

            <ul>
                <li>Une signature physique ou électronique du titulaire du droit d'auteur ou d'une personne autorisée à agir en leur nom</li>
                <li>Une identification de l'œuvre protégée et prétendument violée</li>
                <li>Une identification des données violant les droits d'auteurs ou faisant l'objet d'activités non autorisées et qui doivent être retirées ou dont l'accès doit être bloqué, ainsi que des renseignements suffisamment précis pour nous permettre de localiser lesdites données</li>
                <li>Ses coordonnées, y compris l'adresse, le numéro de téléphone et une adresse de courrier électronique</li>
                <li>Une déclaration de bonne foi de l'utilisateur stipulant que l'usage du matériel de la manière reprochée n'est pas autorisée par le titulaire du droit d'auteur, son agent ou par la loi</li>
                <li>Une déclaration indiquant que l'information contenue dans la notification est précise, et, sous peine de faux témoignage, que l'utilisateur est autorisé à agir au nom du propriétaire du droit d'auteur.</li> 

            </ul>

            <h2>Article 16 - Amendements</h2>

            <p>
                Nous pouvons changer cette Déclaration à tout moment, merci de la consulter régulièrement. Nous pourrons effectuer des modifications pour des raisons légales ou administratives, ou pour corriger une déclaration inexacte.
            </p>

            <h2>Article 17 - Résiliation</h2>

            <p>
                Si vous enfreignez les présentes conditions générales d’utilisation, ou créez autrement un risque de poursuites à notre encontre, nous pouvons arrêter de vous fournir tout ou partie de Japan FM. Nous vous avertirons par courrier électronique et/ou lors de votre prochaine connexion à votre compte.
            </p>

            <h2>Article 18 - Modification de la présente</h2>

            <p>
                Les conditions générales d'utilisation de <a href="{{ path('index') }}">www.japanfm.fr</a> sont susceptibles d'être modifiées sans préavis. Il appartient aux participants de prendre connaissance des modifications effectuées.
            </p>

            <p>
                Si une ou plusieurs stipulations des présentes conditions d'utilisation sont tenues pour non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.
            </p>

            <p>
                Les parties conviennent alors de remplacer la clause déclarée nulle et non valide par une clause qui se rapprochera le plus quant à son contenu de la clause initialement arrêtée, de manière notamment à maintenir l'équilibre économique du contrat.
            </p>

            <p>
                Notre manquement à faire appliquer cette Déclaration ne pourra être considéré comme une renonciation.
            </p>

            <p>
                De manière générale :
            </p>

            <ul>
                <li>Tout amendement ou dérogation à cette Déclaration doit être établi par écrit et signé par l’éditeur.</li>
                <li>Vous ne transférerez pas les droits ou obligations qui vous incombent dans le cadre de cette Déclaration à un tiers sans notre accord.</li>
                <li>Tous les droits et obligations dans le cadre de cette Déclaration sont transférables par nous dans le cadre d'une fusion, d'une acquisition, d’un rachat, d'une demande de tribunaux ou dans d'autres cas.</li>
                <li>Aucune disposition de cet accord ne peut nous empêcher de respecter la loi.</li>
                <li>Cette Déclaration ne confère aucun droit à des tiers bénéficiaires.</li>
                <li>Vous respecterez toutes les lois applicables lorsque vous utilisez Japan fm ou y accédez.</li>
            </ul>

            <p>
                En écoutant la web radio ou en participant aux classements Japan FM, les joueurs reconnaissent accepter ce règlement et ses évolutions possibles.<br />
                 L'utilisation et/ou la copie de toute partie de ce site constitue une approbation de nos Conditions d'utilisations et Politique de confidentialité.
            </p>

        </div>
    {% endblock %}