<div id="widget-tab2-content" class="tab-content">
pop
    <ul class="list post-list">

        {% for article in popular_articles %}
            <li>
                <div class="thumbnail">
                    <img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="{{ article.getTitle|escape }}">
                </div>
                <div class="post-right">
                    <h5><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h5>
                    <div class="entry-meta">
                        <span class="date"><i class="icon-calendar"></i> {{ article.getReleaseDateFrontFormat() }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}

    </ul>
</div>