{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ article_type }} | {{ parent() }}{% endblock %}

    {% block content %}

        <header class="archive-header">
            <h2 class="archive-title">{{ article_type }}</h2>
        </header><!-- /archive-header -->

        <div class="archive-postlist">
            {% for article in articles %}
                {% if loop.index%2!=0 %}
                    <div class="row">
                {% endif %}

                <div class="one-half{% if loop.index%2==0 %} last{% endif %} col-lg-6">
                    <article class="post type-post status-publish format-standard hentry category-graphics tag-cars tag-characters tag-girl tag-man">

                        {% if article.getYoutube %}
                            <div class="thumb-wrap video-thumb">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        {% else %}
                            <div class="thumb-wrap">
                                <div class="thumb">
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('290-180')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                </div>



                                <div class="overlay">
                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                </div>
                            </div>
                        {% endif %}


                        <header class="entry-header">
                            <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                            <div class="entry-meta">
                                <span class="date"><i class="icon-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                            </div>
                        </header>

                        <div class="entry-excerpt">
                            <p>{{ article.getDescription }}</p>
                        </div>
                    </article>
                </div>

                {% if loop.index%2==0 %}
                </div>
                <!-- end row -->
                {% endif %}

                {% if loop.index==4 %}
                    <div class="add_468">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- un_artist -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:468px;height:60px"
                             data-ad-client="ca-pub-3070362287154347"
                             data-ad-slot="6183315514"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                {% endif %}
            {% endfor %}
        </div>




        <div class="pagination">

                {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                {% for p in range(1, total_articles) %}
                    {% if p == page %}
                        <span class="page-numbers current">{{ p }}</span>
                    {% else %}

                        {% if article_type == 'Live Reports' %}
                            <a href="{{ path('musique-live-reports', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% elseif article_type == 'Chroniques' %}
                            <a href="{{ path('musique-chroniques', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% elseif article_type == 'Interviews' %}
                            <a href="{{ path('musique-interviews', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% elseif article_type == 'Manga/Anime' %}
                            <a href="{{ path('mangaanime', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% elseif article_type == 'Jeux Vidéos' %}
                            <a href="{{ path('jeuxvideos', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% elseif article_type == 'Culture' %}
                            <a href="{{ path('culture', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% else %}
                            <a href="{{ path('musique-news', {'page': p}) }}" class="page-numbers">{{ p }}</a>
                        {% endif %}


                    {% endif %}
                {% endfor %}

        </div>


    {% endblock %}