{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Émissions | {{ parent() }}{% endblock %}

    {% block content %}
        <div class="post-wrap">
            <article id="post-28" class="post-28 post type-post status-publish format-standard hentry">
                <header class="entry-header">
                    <h1>Émissions</h1>
                </header>
            </article>
        </div>


        {% for key, programType in programTypes %}
            <div class="row">
                <div class="col-md-12 podcast-content">
                    <div class="pull-left">

                            {% if programType.picture is not null %}

                                <img src="{{ asset(programType.picture.getPath('podcast')) }}" alt="{{ programType.title }}" />
                            {% else %}

                                <img src="{{ asset('assets/css/images/artists-music.jpg?size=podcast') }}" alt="" />
                            {% endif %}

                    </div>
                    <div class="description">

                        <h4>{{ programType.title }}</h4>
                        <p>
                            {{ programType.description }}
                        </p>

                        {% if programType.presenter is not null %}
                        <p>
                            Avec : {{ programType.presenter }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>



        {% endfor %}
    {% endblock %}