{% extends "VyperSiteBundle:layouts:admin.html.twig" %}

{% block title "ADMIN" %}

    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-edit"></i>Add Article</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">

                        <p>
                            {# On affiche tous les messages flash dont le nom est « info » #}
                            {% for message in app.session.flashbag.get('info') %}
                                {{ message }}
                            {% endfor %}
                        </p>

                        <form class="form-horizontal" method="post" {{ form_enctype(form) }}>



                            <fieldset class="col-sm-12">



                                <!-- Continent -->
                                <div class="row">
                                    <div class="form-group col-lg-9">
                                        {{ form_label(form.continent, "Continent") }}
                                        <div class="controls">
                                            {{ form_widget(form.continent, {  'attr': {'class': 'form-control', 'data-rel': 'chosen'} }) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="row">
                                    <div class="form-group col-lg-9">
                                        {{ form_label(form.articleType, "Type *") }}
                                        <div class="controls">
                                            {{ form_widget(form.articleType, {  'attr': {'class': 'form-control', 'data-rel': 'chosen'} }) }}
                                        </div>
                                    </div>
                                </div>


                                <!-- Title -->
                                <div class="row">
                                    <div class="form-group col-lg-9{%if error_title is defined %} has-error{% endif %}">
                                        {{ form_label(form.title, "Title *") }}
                                        <div class="controls">
                                            {{ form_widget(form.title, {  'attr': {'class': 'form-control focused'} }) }}
                                            {{ form_errors(form.title) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="row">
                                    <div class="form-group col-lg-9{%if error_description is defined %} has-error{% endif %}">
                                        {{ form_label(form.description) }}
                                        <div class="controls">
                                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.description) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Text -->
                                <div class="form-group hidden-phone{%if error_text is defined %} has-error{% endif %}">
                                    {{ form_label(form.text) }}
                                    <div class="controls">
                                        {{ form_widget(form.text, { 'attr': {'class': 'cleditor'} }) }}
                                        {{ form_errors(form.text) }}
                                    </div>
                                </div>

                                <!-- Youtube -->
                                <div class="row">
                                    <div class="form-group col-lg-9{%if error_youtube is defined %} has-error{% endif %}">
                                        {{ form_label(form.youtube) }}
                                        <div class="controls">
                                            {{ form_widget(form.youtube, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.youtube) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Release Date -->
                                    <div class="form-group col-lg-2{%if error_rel_date is defined %} has-error{% endif %}">
                                        {{ form_label(form.releaseDate) }}
                                        <div class="controls">
                                            {{ form_widget(form.releaseDate, { 'attr': {'class': 'form-control datepicker'} }) }}
                                            {{ form_errors(form.releaseDate) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-1">
                                    </div>
                                    <!-- Release Time -->
                                    <div class="form-group col-lg-2{%if error_rel_time is defined %} has-error{% endif %}">
                                        {{ form_label(form.releaseTime) }}
                                        <div class="controls">
                                            {{ form_widget(form.releaseTime, { 'attr': {'class': 'form-control timepicker'} }) }}
                                            {{ form_errors(form.releaseTime) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Author -->
                                    <div class="form-group col-lg-3{%if error_author is defined %} has-error{% endif %}">
                                        {{ form_label(form.author, "Author *") }}
                                        <div class="controls">
                                            {{ form_widget(form.author, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.author) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-1">
                                    </div>
                                    <!-- Translator -->
                                    <div class="form-group col-lg-4">
                                        {{ form_label(form.translator) }}
                                        <div class="controls">
                                            {{ form_widget(form.translator, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.translator) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Source -->
                                    <div class="form-group col-lg-3">
                                        {{ form_label(form.source) }}
                                        <div class="controls">
                                            {{ form_widget(form.source, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-1"></div>
                                    <!-- Source URL -->
                                    <div class="form-group col-lg-6">
                                        {{ form_label(form.sourceURL, "Source URL") }}
                                        <div class="controls">
                                            {{ form_widget(form.sourceURL, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- META keywords -->
                                <div class="row">
                                    <div class="form-group col-lg-9{%if error_meta_keywords is defined %} has-error{% endif %}">
                                        {{ form_label(form.metaKeywords) }}
                                        <div class="controls">
                                            {{ form_widget(form.metaKeywords, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.metaKeywords) }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Theme -->
                                <div class="row">
                                    <div class="form-group col-lg-9">
                                        {{ form_label(form.theme) }}
                                        <div class="controls">
                                            {{ form_widget(form.theme, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Related Picture -->
                                    <div class="form-group col-lg-3">
                                        {{ form_label(form.pictureID, "Picture ID") }}
                                        <div class="controls">
                                            {{ form_widget(form.pictureID, { 'attr': {'class': 'form-control'} }) }}
                                             <a href="/_admin_/pictures" target="_blank">View Pictures</a>
                                            {{ form_errors(form.pictureID) }}
                                        </div>
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <input type="hidden" name="add" value="add">
                                    <button type="submit" class="btn btn-primary">Save article</button>
                                    <button type="reset" class="btn">Cancel</button>
                                </div>

                            </fieldset>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}