{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Podcasts | {{ parent() }}{% endblock %}

    {% block content %}

        <header class="archive-header">
            <h2 class="archive-title">Podcasts</h2>
        </header><!-- /archive-header -->


        <script type="text/javascript" src="{{ asset('assets/js/jwplayer/jwplayer.js') }}"></script>
        <script type="text/javascript">jwplayer.key="FPLzeEch5TNW11Hy0dnMrNEWuq1YZvVZBB485w==";</script>


        <object type="application/x-shockwave-flash" data="{{ asset('assets/js/jwplayer/jwplayer.flash.swf') }}" width="100%" height="100%" bgcolor="#000000" id="mediaplayer" name="mediaplayer" tabindex="0">
            <param name="allowfullscreen" value="true">
            <param name="allowscriptaccess" value="always">
            <param name="seamlesstabbing" value="true">
            <param name="wmode" value="opaque">

        </object>

        <script type="text/javascript">
            jwplayer("mediaplayer").setup({
                file: "{{ asset('podcasts/video/' ~ podcast_videos.0.filename ~ '') }}",
                image: "{{ asset(podcast_videos.0.picture.getPath()) }}",
                width: "100%",
                height: 430,
                aspectratio: "16:9",
                skin: "bekle"
            });
        </script>
        <script>
            function loadVideo(myFile, image) {
                jwplayer().load([{
                    file: myFile,
                    image: image
                }]);
                jwplayer().play();
            };

            function scrollToPlayer() {
                $('html, body').animate({
                    scrollTop: $("#podcast").offset().top
                }, 200);
            };


        </script>


        <div class="content-title main-color-reverse">
            <h4>Podcast vidéo</h4>
        </div>

        {% for video in podcast_videos %}

            {% if video.picture is not null %}
                {% set image = video.picture.getPath() %}

            {% else %}
                {% set image = '' %}

            {% endif %}

        <div class="row">
            <div class="col-md-12 podcast-content">
                <div class="pull-left">
                    <a class="loadVideo" href="javascript:loadVideo('/podcasts/video/{{ video.filename }}', '{{ image }}');scrollToPlayer();">
                    {% if video.picture is not null %}

                        <img src="{{ asset(video.picture.getPath('podcast')) }}" alt="" />
                    {% else %}

                        <img src="{{ asset('assets/css/images/artists-music.jpg?size=podcast') }}" alt="" />
                    {% endif %}
                    </a>
                </div>
                <div class="description">


                    <h4><a class="loadVideo" href="javascript:loadVideo('/podcasts/video/{{ video.filename }}', '{{ image }}');scrollToPlayer();">{{ video.title }}</a></h4>
                    <p>
                        {{ video.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}








        <div class="add_468">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- un_artist -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="6183315514"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>


    {% endblock %}