<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="fr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="fr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Japan FM | Toute la J-music, une seule web radio | Radio Japonaise{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Fullcalendar -->
    <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar/fullcalendar.css') }}" type="text/css" />

    <!-- Owl Carousel Assets -->
    <link href="{{ asset('assets/css/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl-carousel/owl.theme.css') }}" rel="stylesheet">

    <!-- Font awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <link href="{{ asset('assets/css/reset.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header id="header" class="container-fluid">
    <div class="row">
        <section class="top main-color-bg col-lg-12">
            <div class="content-wrap">
                <div class="left">
                    <ul class="list">


                        <li>
                            <i class="fa fa-star"></i>
                            <a href="/a-propos">A propos</a>
                        </li>

                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/l-equipe">L'Equipe</a>
                        </li>

                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="/contact">Contact</a>
                        </li>

                        <li>
                            <i class="fa fa-flag"></i>
                            <a href="/partenaires">Partenaires</a>
                        </li>

                    </ul>
                </div>
                <div class="social">
                    <ul class="list">
                        <li class="gplus"><a href="#"><i class="fa fa-comments"></i> Live Chat</a></li>
                        <li class="youtube"><a href="#"><i class="fa fa-play-circle"></i> Live Vidéo</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- /top -section -->
        <section class="col-lg-12 ticker-section">
            <div class="content-wrap">
                <div class="ticker" style="display: block;">

                    <div class="title">
                        <img src="http://betatest.japanfm.fr/assets/img/logo.png" height="50">
                    </div>

                    <div class="tickercontainer"><div class="mask">
                            <ul id="ticker-posts" class="newsticker marquee" >
                                <li>
                                    <a href="#">Je suis un marquee</a>
                                    <div class="sep"></div>
                                </li>
                                <li>
                                    <a href="#">Je suis un marquee</a>
                                    <div class="sep"></div>
                                </li>
                                <li>
                                    <a href="#">Je suis un marquee</a>
                                    <div class="sep"></div>
                                </li>
                                <li>
                                    <a href="#">Je suis un marquee</a>
                                    <div class="sep"></div>
                                </li>
                            </ul>
                        </div></div>

                </div>

                <div class="search">
                    <script>
                        (function() {
                            var cx = '001775883577770650674:f0b74h1hzdo';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//www.google.com/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>

                </div>
            </div>
        </section>
        <!-- /ticker-section -->
    </div>
</header>

<div id="casing" class="container-fluid">
    <div id="casing-top"></div>
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- Static navbar -->
                    <nav class="navbar navbar-default primary-menu" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-list"></i>
                                    <span class="sr-only">Toggle navigation</span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home {% if front_page_index is defined %} current_page_item{% endif %}"><a href="{{ path('index') }}" title="Accueil">Accueil</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Radio <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('radio-programme') }}">Programme</a></li>
                                            <li><a href="{{ path('radio-emissions') }}">Émissions</a></li>
                                            <li><a href="{{ path('musique-live-reports') }}">Podcasts</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Musique <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('musique-news') }}">News</a></li>
                                            <li><a href="{{ path('musique-interviews') }}">Interviews</a></li>
                                            <li><a href="{{ path('musique-live-reports') }}">Live Report</a></li>
                                            <li><a href="{{ path('musique-chroniques') }}">Chroniques</a></li>
                                        </ul>
                                    </li>
                                    <li class="q{% if current_mangaanime is defined %} current_page_item{% endif %}"><a href="{{ path('mangaanime') }}">Manga/Anime</a></li>
                                    <li class="q{% if current_jeuxvideos is defined %} current_page_item{% endif %}"><a href="{{ path('jeuxvideos') }}">Jeux vidéos</a></li>
                                    <li class="q{% if current_culture is defined %} current_page_item{% endif %}"><a href="{{ path('culture') }}">Culture</a></li>
                                    <li class="q{% if current_artists is defined %} current_page_item{% endif %}"><a href="{{ path('showAllArtist') }}">Artistes</a></li>
                                    <li class="q{% if current_album is defined %} current_page_item{% endif %}"><a href="{{ path('showAlbums') }}">Galerie</a></li>
                                    <li class="q{% if current_event is defined %} current_page_item{% endif %}"><a href="{{ path('showAllEvent') }}">Events</a></li>
                                    <li class="q{% if current_magazine is defined %} current_page_item{% endif %}"><a href="{{ path('showAllMagazine') }}">Vyper</a></li>

                                </ul>

                            </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                    </nav>

                    <div class="header-carousel section main-color-reverse">
                        <div class="">
                            <div id="carousel-posts" class="owl-carousel">
                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                                <div class="item">
                                    <img src="http://betatest.japanfm.fr/uploads/pic/2014/10/7318-1413747752.jpeg?size=374-200" alt="5">
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--/.Menu + Carousel -->
                </div>


                <div class="row" id="wrapper-2-big">
                    <section class="col-sm-8">
                        <!-- Start template -->
                        {% block content %}{% endblock %}
                        <!-- End template -->
                    </section>
                    <section class="col-sm-4">
                        <aside class="widget">
                            <ul>
                                <li class="facebook">

                                </li>
                            </ul>
                        </aside>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Marquee logic -->
<script>
    $(document).ready(function() {
        $('.marquee').marquee();
    });


</script>


<!-- Owl-Carousel logic -->
<style>
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
</style>


<script>
    $(document).ready(function() {

        $("#carousel-posts").owlCarousel({
            slideSpeed: 200,					//Slide speed in milliseconds
            paginationSpeed: 800,				//Pagination speed in milliseconds
            autoPlay: 5000,						//Autoplay every 5 seconds.
            stopOnHover: true,					//Stop autoplay on mouse hover
            navigation: false,					//Display "next" and "prev" buttons.
            pagination: false,					//Display pagination
            items : 3,							//Number of items to display
            itemsDesktop : [1199,3],			//Number of slides visible with a particular browser width.
            itemsTablet: [736,2],
            itemsMobile: [462,1]
        });

        $("#owl-demo").owlCarousel({

            navigation : true,
            pagination: false,
            autoPlay : 5000,
            slideSpeed : 400,
            paginationSpeed : 400,
            singleItem : true

            // "singleItem:true" is a shortcut for:
            // items : 1,
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });
    });


</script>

<!-- Fullcalendar logic -->
<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
            defaultDate: '2014-09-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2014-09-01'
                },
                {
                    title: 'Long Event',
                    start: '2014-09-07',
                    end: '2014-09-10'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2014-09-09T16:00:00'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2014-09-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2014-09-11',
                    end: '2014-09-13'
                },
                {
                    title: 'Meeting',
                    start: '2014-09-12T10:30:00',
                    end: '2014-09-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2014-09-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2014-09-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2014-09-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2014-09-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2014-09-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2014-09-28'
                }
            ]
        });

    });

</script>



<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- Full calendar -->
<script src="{{ asset('assets/js/vendor/moment.min.js') }}"></script>
<script src="{{ asset('assets/js/fullcalendar/fullcalendar.min.js') }}"></script>

<!-- Owl Carousel -->
<script src="{{ asset('assets/js/owl-carousel/owl.carousel.min.js') }}"></script>

<!-- Marquee -->
<script type='text/javascript' src='http://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js'></script>
</body>
</html>