<div class="wrap">
    <ul class="list">

        <li class="facebook">
            <div class="icon"><i class="icon-facebook"></i></div>
            <div class="right">
                <div class="count"><h4><a target="_blank" href="{{ vyper_facebook }}">{{ fb_fans }}</a></h4></div>
                <div class="text">Likes</div>
            </div>
        </li><!-- /facebook -->


        <li class="twitter">
            <div class="icon"><i class="icon-twitter"></i></div>
            <div class="right">
                <div class="subscribe"><h4><a target="_blank" href="{{ vyper_twitter }}">166</a></h4></div>
                <div class="text">Followers</div>
            </div>
        </li>

        <li class="magazine">
            <div class="icon"><i class="icon-book"></i></div>
            <div class="right">
                <div class="subscribe"><h4><a target="_blank" href="{{ base_url }}vyper-magazine-vol-001">Le mag</a></h4></div>
                <div class="text">Commander</div>
            </div>
        </li>


        <li class="rss">
            <div class="icon"><i class="icon-rss"></i></div>
            <div class="right">
                <div class="subscribe"><h4><a target="_blank" href="{{ base_url }}rss_fil_info.xml">RSS Feed</a></h4></div>
                <div class="text">S'abonner</div>
            </div>
        </li>


    </ul>

</div><!-- /wrap -->