{% extends 'VyperSiteBundle:layouts:admin.html.twig' %}

{% block title %}
    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-edit"></i>Add Manga</h2>

                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <form class="form-horizontal" method="post" {{ form_enctype(form) }}>

                        {{ form_widget(form._token) }}

                        <fieldset class="col-sm-12">

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Title -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.title, "Title *") }}
                                            <div class="controls">
                                                {{ form_widget(form.title, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Title Real -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.titleReal, "Title Real") }}
                                            <div class="controls">
                                                {{ form_widget(form.titleReal, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.titleReal) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Mangaka -->
                            <div class="row">
                                <div class="form-group col-lg-5{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.mangaka, "Mangaka") }}
                                    <div class="controls">
                                        {{ form_widget(form.mangaka, {  'attr': {'class': 'form-control', 'data-rel': 'chosen'} }) }}
                                        {{ form_errors(form.mangaka) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Anime -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.anime, "Anime exists ?") }}
                                            <div class="controls">
                                                {{ form_widget(form.anime, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.anime) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Complete -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.complete, "Complete ?") }}
                                            <div class="controls">
                                                {{ form_widget(form.complete, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.complete) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Date Publication -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.publicationDate, "Date Publication") }}
                                            <div class="controls">
                                                {{ form_widget(form.publicationDate, {  'attr': {'class': 'form-control datepicker'} }) }}
                                                {{ form_errors(form.publicationDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Number of Tome -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.tomeNumber, "How many Tomes ?") }}
                                            <div class="controls">
                                                {{ form_widget(form.tomeNumber, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.tomeNumber) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Publisher FR -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.publisherFR, "Publisher FR") }}
                                            <div class="controls">
                                                {{ form_widget(form.publisherFR, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.publisherFR) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Publisher JA -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.publisherJA, "Publisher JP") }}
                                            <div class="controls">
                                                {{ form_widget(form.publisherJA, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.publisherJA) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- EAN -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.ean, "EAN") }}
                                            <div class="controls">
                                                {{ form_widget(form.ean, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.ean) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- format -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.format, "Format") }}
                                            <div class="controls">
                                                {{ form_widget(form.format, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.format) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Price -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.price, "Price") }}
                                            <div class="controls">
                                                {{ form_widget(form.price, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.price) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Author -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.author, "Author") }}
                                            <div class="controls">
                                                {{ form_widget(form.author, {  'attr': {'class': 'form-control'} }) }}
                                                {{ form_errors(form.author) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- Release Date -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.releaseDate, "Release Date *") }}
                                            <div class="controls">
                                                {{ form_widget(form.releaseDate, { 'attr': {'class': 'form-control datepicker'} }) }}
                                                {{ form_errors(form.releaseDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- Release Time -->
                                    <div class="row">
                                        <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                            {{ form_label(form.releaseTime, "Release Time *") }}
                                            <div class="controls">
                                                {{ form_widget(form.releaseTime, { 'attr': {'class': 'form-control timepicker'} }) }}
                                                {{ form_errors(form.releaseTime) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- Theme -->
                            <div class="row">
                                <div class="form-group col-lg-5">
                                    {{ form_label(form.type) }}
                                    <div class="controls">
                                        {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>

                            <!-- Summary -->
                            <div class="form-group hidden-phone{%if error_text is defined %} has-error{% endif %}">
                                {{ form_label(form.summary) }}
                                <div class="controls">
                                    {{ form_widget(form.summary, { 'attr': {'class': 'cleditor'} }) }}
                                    {{ form_errors(form.summary) }}
                                </div>
                            </div>

                            <!-- Review -->
                            <div class="form-group hidden-phone{%if error_text is defined %} has-error{% endif %}">
                                {{ form_label(form.review) }}
                                <div class="controls">
                                    {{ form_widget(form.review, { 'attr': {'class': 'cleditor'} }) }}
                                    {{ form_errors(form.review) }}
                                </div>
                            </div>


                            <div class="row">
                                <!-- Related Picture -->
                                <div class="form-group col-lg-3">
                                    {{ form_label(form.pictureID, "Picture ID") }}
                                    <div class="controls">
                                        {{ form_widget(form.pictureID, { 'attr': {'class': 'form-control'} }) }}
                                        <a href="{{ path('admin_show_pictures') }}" target="_blank">View Pictures</a>
                                        {{ form_errors(form.pictureID) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <input type="hidden" name="add" value="add">
                                <button type="submit" class="btn btn-primary">Save</button>

                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

