{% extends "VyperSiteBundle:layouts:admin.html.twig" %}

{% block title "ADMIN" %}

    {% block content %}
        <div class="row">
        <div class="col-lg-12">
        <div class="box">
        <div class="box-header">
            <h2><i class="icon-edit"></i>Update : {{ magazine.getTitle }}</h2>

            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal" method="post" {{ form_enctype(form) }}>

                {{ form_widget(form._token) }}

                <fieldset class="col-sm-12">

                    <div class="row">
                        <div class="col-lg-4">
                            <!-- Title -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.title, "Title *") }}
                                    <div class="controls">
                                        {{ form_widget(form.title, {  'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.title) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Date Release -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.dateRelease, "Release Date *") }}
                                    <div class="controls">
                                        {{ form_widget(form.dateRelease, { 'attr': {'class': 'form-control datepicker'} }) }}
                                        {{ form_errors(form.dateRelease) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4">
                            <!-- France -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.formFrance, "Envoie en France *") }}
                                    <div class="controls">
                                        {{ form_widget(form.formFrance, {  'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.formFrance) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Outre Mer -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.formOutremer, "Envoie Outre Mer *") }}
                                    <div class="controls">
                                        {{ form_widget(form.formOutremer, {  'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.formOutremer) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <!-- International -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.formInternational, "Envoie à l'international *") }}
                                    <div class="controls">
                                        {{ form_widget(form.formInternational, {  'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.formInternational) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Volume -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.volume, "Volume number *") }}
                                    <div class="controls">
                                        {{ form_widget(form.volume, {  'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.volume) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <!-- Content -->
                            <div class="row">
                                <div class="form-group col-lg-9{% if error_name is defined %} has-error{% endif %}">
                                    {{ form_label(form.content, "Contenu *") }}
                                    <div class="controls">
                                        {{ form_widget(form.content, { 'attr': {'class': 'cleditor'} }) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>




                    <div class="row">
                        <!-- Related Picture -->
                        <div class="form-group col-lg-3">
                            {{ form_label(form.pictureID, "Picture ID *") }}
                            <div class="controls">
                                {{ form_widget(form.pictureID, { 'attr': {'class': 'form-control'} }) }}
                                <a href="{{ path('admin_show_pictures') }}" target="_blank">View Pictures</a>
                                {{ form_errors(form.pictureID) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="hidden" name="add" value="add">
                        <button type="submit" class="btn btn-primary">Save</button>

                    </div>

                </fieldset>

            </form>
        </div>
        </div>
        </div>
        </div>





        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="icon-edit"></i>Artists linked</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" method="post">
                            <fieldset class="col-sm-12">


                                <div class="row">
                                    <!-- Gauche -->
                                    <div class="form-group col-lg-5">
                                        <label class="control-label" for="theme">Artists </label>
                                        <div class="controls">
                                            <select id="artists_to_link" name="artists_to_link" class="form-control" data-rel="chosen">
                                                <option value="-1">-- none --</option>
                                                {% for artist in artists %}
                                                    {% if artist in magazine.artists %}

                                                    {% else %}
                                                        <option value="{{ artist.getId }}">{{ artist.getName }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                            <button type="button" class="btn btn-primary" id="link_button">Link the artist</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-1">
                                    </div>
                                    <!-- Droite -->
                                    <div class="form-group col-lg-6">
                                        <table class="table table-striped table-bordered bootstrap-datatable" id="relArtistLinkTable">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Artist</th>
                                                <th>Unlink</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for artist in magazine.artists %}
                                                <tr id="{{ artist.getId }}">
                                                    <td>{{ artist.getId }}</td>
                                                    <td>{{ artist.getName }}</td>
                                                    <td><a class="btn btn-danger deleteLink" href="#"><i class="icon-trash "></i> </a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>






                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $(document).ready(function() {

                $("#relArtistLinkTable").on("click", ".deleteLink", function() {
                    var tr = $(this).closest('tr');
                    var artistID = tr.attr('id');

                    $.ajax({
                        type: "POST",
                        url: "{{ path('ajax_magazineArtistLinkDelete') }}",

                        data:{
                            artist_id : artistID,
                            item_id : '{{ magazine.getId }}'
                        },
                        success: function(data){
                        }
                    });

                    tr.css("background-color","#FF3700");

                    tr.fadeOut(400, function(){
                        tr.remove();
                    });
                    return false;
                });

                $( "#link_button" ).on("click", function() {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('ajax_magazineArtistLink') }}",
                        dataType: "json",
                        data:{
                            artist_id : $('#artists_to_link').val(),
                            item_id : '{{ magazine.getId }}'
                        },
                        success: function(data){
                            $('#relArtistLinkTable tr:last').after('<tr id="'+ data.artist.id +'"><td>' + data.artist.id + '</td><td>' + data.artist.name + '</td><td><a class="btn btn-danger deleteLink" href="#"><i class="icon-trash "></i> </a></td></tr>');
                        }
                    });

                });

            });


        </script>
    {% endblock %}
