{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Japan FM | Toute la Jmusic, toutes les news en temps réels" %}

    {% block content %}

{#
<div id="program-banner">
            <a href="{{ path('showAllEvent') }}">
            <img src="{{ asset('assets/img/programs-banners/countdown_site.png') }}" width="100%" alt="">
            </a>
        </div>
#}



        <script>
            jQuery(document).ready(function($) {
                $(".main-slider").show();
                $(".main-slider").owlCarousel({
                    navigation : false,
                    pagination: false,
                    autoPlay : 5000,
                    slideSpeed : 400,
                    paginationSpeed : 400,
                    singleItem: true
                });
            });
        </script>
        <div class="main-slider section">
            {% for article in articles_carousel %}
                <div class="item">
                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" >
                        <img src="{{ asset(article.picture.getPath('homepage-slider')) }}" class="attachment-fp780_400 wp-post-image" alt="{{ article.getTitle }}" />
                    </a>

                    <div class="post-info">
                        <div class="post-excerpt">
                            <div class="title">
                                <h2><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h2>
                                <div class="sep"></div>
                            </div>

                            <div class="main-slider-description">
                                {{ article.excerpt }}
                            </div>

                            <div class="read-more">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /main-slider -->

        <section class="row">
        <!-- category1 -->

        <div class="col-md-6">

            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-music"></i> Musique</h4>
                </div>
            </div>



            {% for article in latest_news %}
                {% if loop.index == 1 %}


                    <div class="main-post">

                        {% if article.getYoutube %}
                            <div class="thumb-wrap video-thumb">
                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div>

                        {% else %}
                            <div class="thumb-wrap">
                                <div class="thumb">
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                </div>



                                <div class="overlay">
                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                </div>
                            </div>
                        {% endif %}



                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>



                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>
                    </div>
                    <!-- /one-half -->

                {% endif %}
            {% endfor %}



            <div class="post-list feat-cat">

                {% for key, article in latest_news %}
                    {% if key>0 and key<4 %}

                        <div class="item-post">
                            <div class="thumb">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                            </div>

                            <div class="post-right">
                                <h5>
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                </h5>

                                <div class="entry-meta">
                                    <span class="date">
                                        <i class="fa fa-calendar"></i>
                                        {{ article.getReleaseDateFrontFormat(article.getId) }}
                                    </span>


                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}
            </div><!-- /one-half -->
        </div><!-- /section1-cat -->
        <!-- /category1 -->

        <!-- category2 -->

        <div class="col-md-6">

            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-youtube-play"></i> Vidéo du jour</h4>
                </div>
            </div>



            {% if last_videos is defined %}
                {% for key, video in last_videos %}

                    {% if key == 0 %}
                    <div class="main-post">


                        <div class="thumb-wrap video-thumb">
                            <iframe width="290" height="180" src="//www.youtube.com/embed/{{ video.youtube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                        </div>


                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showVideo', {slug: video.slug, id: video.id}) }}">{{ video.getTitle|escape }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="fa fa-calendar"></i> {{ video.getReleaseDateFrontFormat(video.getId) }}</span><br />

                            </div>
                            <p>{{ video.getDescription }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="row latest-video">
            {% for key, video in last_videos %}
                {% if key > 0 %}
                    <div class="col-xs-6">
                        <div class="last-video">

                            <a href="{{ path('showVideo', {slug: video.slug, id: video.id}) }}">
                                <img src="{{ asset(video.picture.getPath('video-daily')) }}" alt="" width="100%" height="130" />
                                <div class="play-last-video">

                                </div>
                            </a>
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
            </div>




        </div><!-- /section1-cat -->
        <!-- /category2 -->





        </section>



        <div class="add_468">
            {%  include '::add_468.html.twig' only %}
        </div>


        <!-- category1 -->
        <div class="feat-cat section">

                <div class="cat-header">
                    <div class="cat-title second-color-bg">
                        <h4><i class="fa fa-star"></i> Manga/Anime</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 homepage-section">
                        <div class="row">
                            <div class="col-md-6">

                                {% if latest_mangas is defined %}
                                    {% for article in latest_mangas %}
                                        {% if loop.index == 1 %}



                                            {% if article.getYoutube %}
                                                <div class="thumb-wrap video-thumb">
                                                    <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                                </div>

                                            {% else %}
                                                <div class="thumb-wrap">
                                                    <div class="thumb">
                                                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                                    </div>



                                                    <div class="overlay">
                                                        <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                                    </div>
                                                </div>
                                            {% endif %}



                                            <div class="post-details">
                                                <h3>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                                </h3>

                                                <div class="entry-meta">
                                                    <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>



                                                </div>
                                                <p>{{ article.getDescription }}</p>
                                            </div>


                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </div><!-- /one-half -->


                            <div class="col-md-6 feat-cat">

                                {%  if latest_mangas is defined %}
                                    {% for key, article in latest_mangas %}
                                        {% if key>0 and key<4 %}

                                            <div class="item-post">
                                                <div class="thumb">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                                </div>

                                                <div class="post-right">
                                                    <h5>
                                                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                                    </h5>

                                                    <div class="entry-meta">
                                                            <span class="date">
                                                                <i class="fa fa-calendar"></i>
                                                                {{ article.getReleaseDateFrontFormat(article.getId) }}
                                                            </span>


                                                    </div>
                                                </div>
                                            </div>


                                        {% endif %}
                                    {% endfor %}
                                {% endif %}



                            </div><!-- /one-half -->
                        </div>
                    </div>
                </div>
            </div><!-- /feat-cat -->

        <!-- /category1 -->



        <!-- category2 -->
        <div class="feat-cat section">


            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-gamepad"></i> Jeux Vidéos</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 homepage-section">
                    <div class="row">
                        <div class="col-md-6">
                            {%  if latest_jeux_videos is defined %}
                                {% for article in latest_jeux_videos %}
                                    {% if loop.index == 1 %}



                                        {% if article.getYoutube %}
                                            <div class="thumb-wrap video-thumb">
                                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                            </div>

                                        {% else %}
                                            <div class="thumb-wrap">
                                                <div class="thumb">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                                </div>



                                                <div class="overlay">
                                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}



                                        <div class="post-details">
                                            <h3>
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                            </h3>

                                            <div class="entry-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                                            </div>
                                            <p>{{ article.getDescription }}</p>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 feat-cat">
                            {%  if latest_jeux_videos is defined %}
                                {% for key, article in latest_jeux_videos %}
                                    {% if key>0 and key<4 %}

                                        <div class="item-post">
                                            <div class="thumb">
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                            </div>

                                            <div class="post-right">
                                                <h5>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                                </h5>

                                                <div class="entry-meta">
                                                            <span class="date">
                                                                <i class="fa fa-calendar"></i>
                                                                {{ article.getReleaseDateFrontFormat(article.getId) }}
                                                            </span>

                                                </div>
                                            </div>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>










        </div><!-- /feat-cat -->
        <!-- /category2 -->




        <!-- category2 -->
        <div class="feat-cat section">


            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-language"></i> Culture</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 homepage-section">
                    <div class="row">
                        <div class="col-md-6">
                            {% if latest_culture is defined %}
                                {% for article in latest_culture %}
                                    {% if loop.index == 1 %}



                                        {% if article.getYoutube %}
                                            <div class="thumb-wrap video-thumb">
                                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                            </div>

                                        {% else %}
                                            <div class="thumb-wrap">
                                                <div class="thumb">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                                </div>


                                                <div class="overlay">
                                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}



                                        <div class="post-details">
                                            <h3>
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                            </h3>

                                            <div class="entry-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                                            </div>
                                            <p>{{ article.getDescription }}</p>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 feat-cat">
                            {% if latest_culture is defined %}
                                {% for key, article in latest_culture %}
                                    {% if key>0 and key<4 %}

                                        <div class="item-post">
                                            <div class="thumb">
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                            </div>

                                            <div class="post-right">
                                                <h5>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                                </h5>

                                                <div class="entry-meta">
                                                    <span class="date">
                                                    <i class="fa fa-calendar"></i>
                                                        {{ article.getReleaseDateFrontFormat(article.getId) }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /feat-cat -->


    {% endblock %}