{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Japan FM | Toute la Jmusic, toutes les news en temps réels" %}

    {% block content %}
        <script>
            jQuery(document).ready(function($) {
                $(".main-slider").show();
                $(".main-slider").owlCarousel({
                    navigation : true,
                    pagination: false,
                    autoPlay : 5000,
                    slideSpeed : 400,
                    paginationSpeed : 400,
                    singleItem: true
                });
            });
        </script>
        <div class="main-slider section">
            {% for article in articles_carousel %}
                <div class="item">
                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" >
                        <img src="{{ asset(article.picture.getPath()) }}" class="attachment-fp780_400 wp-post-image" alt="{{ article.getTitle }}" />
                    </a>

                    <div class="post-info">
                        <div class="post-excerpt">
                            <div class="title">
                                <h2><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h2>
                                <div class="sep"></div>
                            </div>

                            <div class="main-slider-description">
                                {{ article.getDescription }}
                            </div>

                            <div class="read-more">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /main-slider -->

        <section class="row">
        <!-- category1 -->

        <div class="col-md-6">
            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <div class="cat-icon"><i class="icon-music"></i></div>
                    <h4><a href="{{ base_url }}news">Musique</a></h4>
                </div>
            </div>



            {% for article in latest_news %}
                {% if loop.index == 1 %}


                    <div class="main-post">

                        {% if article.getYoutube %}
                            <div class="thumb-wrap video-thumb">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div>

                        {% else %}
                            <div class="thumb-wrap">
                                <div class="thumb">
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('290-180')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                </div>



                                <div class="overlay">
                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                </div>
                            </div>
                        {% endif %}



                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>



                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>
                    </div>
                    <!-- /one-half -->

                {% endif %}
            {% endfor %}



            <div class="post-list">

                {% for key, article in latest_news %}
                    {% if key>0 and key<4 %}

                        <div class="item-post">
                            <div class="thumb">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                            </div>

                            <div class="post-right">
                                <h5>
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                </h5>

                                <div class="entry-meta">
			                                    <span class="date">
			                                        <i class="icon-calendar"></i>
                                                    {{ article.getReleaseDateFrontFormat(article.getId) }}
			                                    </span>

			                                    <span class="comments">
			                                        <i class="icon-comments"></i>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}#comments" title="{{ article.getTitle }}"><fb:comments-count href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"></fb:comments-count> réactions</a>
			                                    </span>
                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}
            </div><!-- /one-half -->
        </div><!-- /section1-cat -->
        <!-- /category1 -->

        <!-- category2 -->

        <div class="col-md-6">


            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <div class="cat-icon">
                        <i class="icon-youtube-play"></i>
                    </div>
                    <h4>Vidéo du jour</h4>
                </div>
            </div>

            {% if last_video is defined %}
                {% for video in last_video %}


                    <div class="main-post">


                        <div class="thumb-wrap video-thumb">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video.youtube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                        </div>


                        <div class="post-details">
                            <h3>
                                <a href="#">{{ video.getTitle|escape }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="icon-calendar"></i> video.getDateEvent(event.getId) }}</span><br />

                            </div>
                            <p>{{ video.getDescription }}</p>
                        </div>
                    </div>
                    <!-- /one-half -->
                {% endfor %}
            {% endif %}

            <div class="post-list">

                {% if latest_events is defined %}
                {% for key, event in latest_events %}
                    {% if key>0 and key<4 %}

                        <div class="item-post">
                            <div class="thumb">
                                <a href="{{ base_url }}event/{{ event.getId }}/{{ event.getStringUrl(event.getId) }}.html"><img src="{{ base_url }}uploads/pic/{{ event.getMini75Picture(event.getId) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                            </div>

                            <div class="post-right">
                                <h5>
                                    <a href="{{ base_url }}event/{{ event.getId }}/{{ event.getStringUrl(event.getId) }}.html" rel="bookmark">{{ event.getTitle }}</a>
                                </h5>

                                <div class="entry-meta">
			                                    <span class="date">
			                                        <i class="icon-calendar"></i>
                                                    {{ event.getDateEvent(event.getId) }}
			                                    </span>

			                                    <span class="comments">
			                                        <i class="icon-comments"></i>
                                                    {{ event.getTown(event.getId) }}, {{ event.getCountry(event.getId)|upper }}
			                                    </span>
                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}
                {% endif %}
            </div><!-- /one-half -->



        </div><!-- /section1-cat -->
        <!-- /category2 -->





        </section>



        <div class="add_468">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- un_artist -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="6183315514"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>


        <!-- category1 -->
        <section class="row">
            <div class="col-md-12">

                <div class="cat-header" style="display: block;">
                    <div class="cat-title second-color-bg">
                        <div class="cat-icon">
                            <i class="icon-film"></i>
                        </div>
                        <h4><a href="{{ base_url }}interviews">Manga/Anime</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        {% if latest_mangas is defined %}
                            {% for article in latest_mangas %}
                                {% if loop.index == 1 %}



                                    {% if article.getYoutube %}
                                        <div class="thumb-wrap video-thumb">
                                            <iframe width="560" height="315" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                        </div>

                                    {% else %}
                                        <div class="thumb-wrap">
                                            <div class="thumb">
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('290-180')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                            </div>



                                            <div class="overlay">
                                                <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                    {% endif %}



                                    <div class="post-details">
                                        <h3>
                                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                        </h3>

                                        <div class="entry-meta">
                                            <span class="date"><i class="icon-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>



                                        </div>
                                        <p>{{ article.getDescription }}</p>
                                    </div>


                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div><!-- /one-half -->


                    <div class="col-md-6">

                        {%  if latest_mangas is defined %}
                            {% for key, article in latest_mangas %}
                                {% if key>0 and key<5 %}

                                    <div class="item-post">
                                        <div class="thumb">
                                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                        </div>

                                        <div class="post-right">
                                            <h5>
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                            </h5>

                                            <div class="entry-meta">
				                                    <span class="date">
				                                        <i class="icon-calendar"></i>
                                                        {{ article.getReleaseDateFrontFormat(article.getId) }}
				                                    </span>

				                                    <span class="comments">
                                                        <i class="icon-comments"></i>
                                                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}comments" title="{{ article.getTitle }}"><fb:comments-count href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"></fb:comments-count> réactions</a>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>


                                {% endif %}
                            {% endfor %}
                        {% endif %}



                    </div><!-- /one-half -->
                </div>
            </div><!-- /feat-cat -->
        </section>
        <!-- /category1 -->



        <!-- category2 -->
        <div class="feat-cat section">

            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <div class="cat-icon">
                        <i class="icon-bookmark"></i>
                    </div>

                    <h4><a href="{{ base_url }}live-reports">Jeux Vidéos</a></h4>
                </div>
            </div>



            <div class="one-half main-post">

                {%  if latest_jeux_videos is defined %}
                {% for article in latest_jeux_videos %}
                    {% if loop.index == 1 %}



                        {% if article.getYoutube %}
                            <div class="thumb-wrap video-thumb">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div>

                        {% else %}
                            <div class="thumb-wrap">
                                <div class="thumb">
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('374-200')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                </div>



                                <div class="overlay">
                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                </div>
                            </div>
                        {% endif %}



                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="icon-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>


                    {% endif %}
                {% endfor %}
                {% endif %}

            </div><!-- /one-half -->



            <div class="one-half last">
                {%  if latest_jeux_videos is defined %}
                {% for key, article in latest_jeux_videos %}
                    {% if key>0 and key<5 %}

                        <div class="item-post">
                            <div class="thumb">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                            </div>

                            <div class="post-right">
                                <h5>
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                </h5>

                                <div class="entry-meta">
				                                    <span class="date">
				                                        <i class="icon-calendar"></i>
                                                        {{ article.getReleaseDateFrontFormat(article.getId) }}
				                                    </span>

				                                    <span class="comments">
                                                        <i class="icon-comments"></i>
                                                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}#comments" title="{{ article.getTitle }}"><fb:comments-count href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"></fb:comments-count> réactions</a>
                                                    </span>
                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}
                {% endif %}


            </div><!-- /one-half -->



        </div><!-- /feat-cat -->
        <!-- /category2 -->




        <!-- category2 -->
        <div class="feat-cat section">

            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <div class="cat-icon">
                        <i class="icon-leaf"></i>
                    </div>

                    <h4><a href="{{ base_url }}chroniques">Culture</a></h4>
                </div>
            </div>



            <div class="one-half main-post">

                {% if latest_culture is defined %}
                {% for article in latest_culture %}
                    {% if loop.index == 1 %}



                        {% if article.getYoutube %}
                            <div class="thumb-wrap video-thumb">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div>

                        {% else %}
                            <div class="thumb-wrap">
                                <div class="thumb">
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('374-200')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                </div>


                                <div class="overlay">
                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                </div>
                            </div>
                        {% endif %}



                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="icon-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>


                    {% endif %}
                {% endfor %}
                {% endif %}

            </div><!-- /one-half -->



            <div class="one-half last">
                {% if latest_culture is defined %}
                {% for key, article in latest_culture %}
                    {% if key>0 and key<5 %}

                        <div class="item-post">
                            <div class="thumb">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                            </div>

                            <div class="post-right">
                                <h5>
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                </h5>

                                <div class="entry-meta">
                                <span class="date">
                                <i class="icon-calendar"></i>
                                    {{ article.getReleaseDateFrontFormat(article.getId) }}
                        </span>

                        <span class="comments">
                                <i class="icon-comments"></i>
                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}#comments" title="{{ article.getTitle }}"><fb:comments-count href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"></fb:comments-count> réactions</a>
                        </span>
                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}
                {% endif %}


            </div><!-- /one-half -->



        </div><!-- /feat-cat -->


    {% endblock %}