{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ album.title }} | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">{{ album.title }}</h2>
        </header><!-- /archive-header -->

        <div class="entry-content-wrap">



            <div class="entry-slider">
                <div class="entry-slider-main flexslider">

                    <ul class="slides">
                        {% for picture in pictures %}
                            <li class="galerie">
                                <a rel="lightbox[album]" href="{{ asset(picture.getPath()) }}">
                                    <img src="{{ asset(picture.getPath('galerie')) }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="entry-slider-nav main-color-bg flexslider">

                    <ul class="slides">
                        {% for picture in pictures %}
                            <li class="mini"><img src="{{ asset(picture.getPath()) }}"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>



            <div class="entry-content">
                <p>{{ album.getDescription }}</p>
            </div><!-- /entry-content -->

        </div>


        <div class="add_468">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- un_artist -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="6183315514"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    {% endblock %}